@import url(./conponents/table.css);
@import url(./conponents/top-inputs.css);

body {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

main {
    width: 1000px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

